@use "global" as *;

.c-btn  {
  display: inline-block;
  width: 100%;
  padding: rem(14);
  line-height: 1;
  color: #fff;
  background: $grey;
  font-size: rem(20);
  border: rem(1) solid #fff;
  text-align: center;
  @include mq('md') {
    padding: rem(19);
    font-size: rem(16);
  }  
}
