@use "global" as *;

.c-btn {
  display: inline-block;
  width: 100%;
  color: #fff;
  background: $grey;
  font-size: rem(20);
  font-weight: $medium;
  border: rem(1) solid #fff;
  text-align: center;
  line-height: 1;
  @include mq('md') {
    font-size: rem(16);
  }  
}

//背景グレー・文字白ボタン
.c-btn--grey {
  @extend .c-btn;
  background-color: $grey;
  color: $white;
}

//背景白・文字黒ボタン
.c-btn--white {
  @extend .c-btn;
  background-color: $white;
  color: $black;
}