@use "global" as *;

.c-label {
  padding: rem(5) rem(22);
  border: 1px solid $white;
  font-size: rem(14);
  color: $white;
}

.c-label--category {
  padding: rem(2) rem(5);
  border: none;
  background-color: $category-label;
  color: $black;
}
