@use "global" as *;

.c-map {
  max-width: rem(540);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    max-width: $l-inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.c-map__wrapper {
  width: 100%;
  position: relative;
}

.c-map__wrapper::before {
  padding-top: 80%;
  display: block;
  content: "";
  @include mq(md) {
    padding-top: 33.3636363636%;
  }
}

.c-map__wrapper iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}
