@use "global" as *;

.c-page-hero {
  height: rem(425);
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-family: $font-sans;
    font-weight: $bold;
    font-size: rem(30);
    line-height: 1;
    letter-spacing: .125em;
  }
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, .2);
  }
  @include mq('md') {
    height: rem(370);
    font-size: rem(35);
  }
}

.c-page-hero--news {
  background-image: url(../images/common/ph-news-sp.jpg);
  @include mq('md') {
    background-image: url(../images/common/ph-news-pc.jpg);
  }
}

.c-page-hero--content {
  background-image: url(../images/common/ph-content-sp.jpg);
  @include mq('md') {
    background-image: url(../images/common/ph-content-pc.jpg);
  }
}

.c-page-hero--works {
  background-image: url(../images/common/ph-works-sp.jpg);
  @include mq('md') {
    background-image: url(../images/common/ph-works-pc.jpg);
  }
}

.c-page-hero--overview {
  background-image: url(../images/common/ph-overview-sp.jpg);
  @include mq('md') {
    background-image: url(../images/common/ph-overview-pc.jpg);
  }
}

.c-page-hero--contact {
  background-image: url(../images/common/ph-contact-sp.jpg);
  @include mq('md') {
    background-image: url(../images/common/ph-contact-pc.jpg);
  }
}