<footer class="footer">
  <div class="footer_inner">
    <div class="p-footer-nav__wrap">
      <div class="p-footer__logo">
        <img src="./images/common/logo.svg" alt="">
      </div>
      <%- include('../project/_p-footer-nav') %>
    </div>
    <div class="footer__copyright">
      <small>&copy;2021 CodeUps Inc.</small>
    </div>
  </div>
</footer>


