<% 
const pcNavLists=[
    { a:"news.html", text:"お知らせ" },
    { a:"content.html", text:"事業内容" },
    { a:"works.html", text:"制作実績" },
    { a:"overview.html", text:"企業概要" },
    { a:"blog.html", text:"ブログ" },
] %> 


<nav class="p-pc-nav">
    <ul class="p-pc-nav__items">
        <% for (var pcNavList of pcNavLists) {%> 
        <li class="p-pc-nav__item"><a href="<%= pcNavList.a %>"><%= pcNavList.text %></a></li>
        <% } %> 
        <li class="p-pc-nav__item p-pc-nav__item--white"><a href="contact.html">お問合せ</a></li>
    </ul>
</nav>