<div class="p-sp-nav">
    <ul class="p-sp-nav__items">
      <li class="p-sp-nav__item"><a href="news.html">お知らせ</a></li>
      <li class="p-sp-nav__item"><a href="content.html">事業内容</a></li>
      <li class="p-sp-nav__item"><a href="works.html">制作実績</a></li>
      <li class="p-sp-nav__item"><a href="overview.html">企業概要</a></li>
      <li class="p-sp-nav__item"><a href="blog.html">ブログ</a></li>
      <li class="p-sp-nav__item"><a href="contact.php">お問い合わせ</a></li>
    </ul>
  </div>