@use "global" as *;
.p-sp-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: inherit;
  height: inherit;
  background-color: $bg;
  opacity: 1;
}

.p-sp-nav__items {
  padding-top: rem(159);
}

.p-sp-nav__item a {
  display: block;
  width: 100%;
  padding-top: rem(16);
  padding-bottom: rem(16);
  text-align: center;
  color: $text-white;
}
