@use "global" as *;

.p-top-news {
  margin: 0 auto;
  @include mq('md') {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.p-top-news__btn {
  margin: rem(28) auto 0;
  width: rem(335);
  height: rem(50);
  @include mq('md') {
    width: rem(134);
    height: rem(30);
    margin-top: 0;
  }
}