<a href="" class="p-blog-card p-card">
  <figure class="p-card__img">
    <img src="./images/blog/blog01.jpg" alt="ブログアイキャッチ画像">
  </figure>
  <div class="p-card__body">
   <h3 class="p-card__title">タイトルが入ります。タイトルが入ります。</h3>
   <p class="p-card__text">説明文が入ります。説明文が入ります。説明文が入ります。</p>
   <div class="p-card__info">
     <span class="p-card__category">カテゴリ</span>
     <time class="p-card__time" datetime="2021.07.20">2021.07.20</time>
   </div>
  </div>
</a>
