<article class="p-news">
  <div class="p-news__info">
    <time class="p-news__time" datetime="2020.07.20">2020.07.20</time>
    <div class="p-news__category">
      <%- include('../component/_c-label',{text:'お知らせ', section:'news'}) %>
    </div>
  </div>
  <h3 class="p-news__title">
    <a href="">
      記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
    </a>
  </h3>
</article>
