<div class="p-top-overview">
  <div class="p-top-overview__head">
    <%- include('../component/_c-section-title',{japaneseTitle:'企業概要',englishTitle:'Overview'}) %>
  </div>
  <div class="p-top-overview__body row-reverse">
    <div class="p-top-overview__img">
      <img src="./images/top/overview.jpg" alt="企業概要イメージ"/>
    </div>
    <div class="p-top-overview__contents">
      <h3 class="p-top-overview__title">メインタイトルが入ります。</h3>
      <p class="p-top-overview__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      <div class="p-top-overview__btn">
        <%- include('../component/_c-btn',{text:'詳しく見る', link:'#', backColor:'black'}) %>
      </div>
    </div>
  </div>
</div>

