<% 
const worksPoints=[
    { title:'制作のポイント', text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。' },
    { title:'デザインのポイント', text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。' },
    { title:'その他', text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。' },
] %> 


<div class="p-works-point">
    <% for (var worksPoint of worksPoints) {%> 
    <div class="p-works-point__box">
        <div class="p-works-point__title"><%= worksPoint.title %></div>
        <div class="p-works-point__text"><%= worksPoint.text %></div>
    </div>
    <% } %> 
</div>
