<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>

    <%- include('./common/_p-header') %>
    <main>
      <!-- top fv -->
      <%- include('./project/_p-top-fv') %>



      
    </main>

    <%- include('./common/_footer') %>
    
  </body>
</html>
