<div class="c-breadcrumb">
    <ul class="c-breadcrumb__items">
        <li class="c-breadcrumb__item">
            <a href="#">トップ</a>
        </li>
        <li class="c-breadcrumb__item">
            <%= pageTitle %>
        </li>
    </ul>
    </div>