<div class="c-category">
  <% var array = ['ALL', 'カテゴリ１', 'カテゴリカテゴリ', 'カテ']; %>
    <ul class="c-category__lists">
      <% array.forEach(function (value) { %>
      <li class="c-category__list">
        <%= value %>
      </li>
      <% }); %>
    </ul>
</div>