<div class="c-page-next-prev">
    <ul class="c-page-next-prev__items">
        <li class="c-page-next-prev__item c-page-next-prev__item--en">
            <a href="#">prev</a>
        </li>
        <li class="c-page-next-prev__item">
            <a href="#">一覧</a>
        </li>
        <li class="c-page-next-prev__item c-page-next-prev__item--en">
            <a href="#">next</a>
        </li>
    </ul>
</div>