<div class="c-pagination">
    <a href="#" class="c-pagination__prev">prev</a>
    <div class="c-pagination__num-box">
        <a href="#" class="c-pagination__num is-current">1</a>
        <a href="#" class="c-pagination__num">2</a>
        <a href="#" class="c-pagination__num">3</a>
        <a href="#" class="c-pagination__num">4</a>
    </div>
    <a href="#" class="c-pagination__next">next</a>
</div>