<div class="c-page-next-prev">
    <a href="#" class="c-page-next-prev__item c-page-next-prev__item--en">prev</a>
    <a href="#" class="c-page-next-prev__item">一覧</a>
    <a href="#" class="c-page-next-prev__item c-page-next-prev__item--en">next</a>
 </div>