<h2 class="c-section-title ">
  <span class="c-section-title__ja"><%= japaneseTitle %></span>
  <% if((englishTitle == 'Works') || (englishTitle == 'Blog')){%>
  <span class="c-section-title__en c-section-title__en--right"><%= englishTitle %></span>
  <% }else if((englishTitle == 'Contact')){ %>
  <span class="c-section-title__en c-section-title__en--contact"><%= englishTitle %></span>
  <% }else{ %>
  <span class="c-section-title__en"><%= englishTitle %></span>
  <% } %>
</h2>